* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    align-self: flex-start;
    font-size: 16px;
}

.todo-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 30px;
    padding-bottom: 4px;
    background-color: #ddf;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 1px 2px 15px #0005;
    color: #fff;
}

.todo-container h2 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding-block: 20px;
    background-color: darkblue;
}

.todo-container .adding {
    display: flex;
    padding: 20px 30px;
}

.todo-container .adding input {
    width: 100%;
    padding: 6px;
    padding-left: 16px;
    border: 1px solid navy;
    border-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.todo-container .adding button {
    padding: 8px 16px;
    background: navy;
    color: #fff;
    border: 2px solid navy;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    height: 400px;
    padding-inline: 30px;
    overflow: auto;
}

.todo-list .post {
    display: flex;
    padding: 8px 12px;
    border-radius: 9px;
    background-color: #ddd;
    background-color: #88d;
}

.todo-list .post:hover {
    background-color: #6767db;
}

.todo-list .post.done {
    background-color: #aaa;
}

.todo-list .post .chore {
    width: 100%;
}

.todo-list .post .actions {
    display: flex;
    column-gap: 18px;
    align-items: center;
    padding-inline: 8px 4px;
}

.todo-list .post .actions i:hover {
    cursor: pointer;
    color: rgb(255, 217, 0);
}

